<%= form_for(@list, url: (@list.new_record?) ? lists_path : list_path(@list) , method: :post, :html=>{id: "list-form"}, :data=> {method: (@list.new_record?)? 'POST' : 'PUT'},remote: true) do |f| %>
      <%= content_tag "div", id: "error_message_list" do%>
         <%= render :partial => 'shared/error_messages', :locals => {:object => @list} %>
      <% end %>
      <% if ((!@list.new_record?) && @list.all_tasks_list?) %>
          <div class="valign-wrapper ms-avatar-all-task">
              <i class="material-icons">list</i>
          </div>
      <% else %>
          <div class="valign-wrapper ms-upload-avatar" style="<% if ((!@list.new_record?) && @list.avatar?) %> background-image: url('<%= @list.avatar('thumb') %>');<% end %>">
                <%= f.file_field :avatar %>
                <label for="list_avatar">
                  <% if ((!@list.new_record?) && (!@list.avatar?)) %>
                      <span class="ms-avatar-ini show"><%= @list.name[0]%></span>
                  <% end %>
                  <div class="mousehover <%= (@list.new_record?)? 'hover': 'active' %> ">
                      <i class="material-icons">camera_alt</i><%= (@list.new_record?)? "Upload": "Change" %> your Avatar
                  </div>
                </label>
          </div>
      <% end %>

      <div class="input-field">
        <%= f.text_field :name ,id: "list_name", disabled: @list.all_tasks_list?%>
        <%= f.label :name,class: (@list.new_record?)? '': 'active' %>
        <div class="divider"></div>
      </div>
      <div class="input-field">
        <%= f.text_area :description,class:'materialize-textarea', id: 'list_description' %>
        <%= f.label :description, class: (@list.new_record?)? '': 'active' %>
      </div>
      <div class="divider"></div>
      <% unless (@list.new_record?||@list.all_tasks_list?||!current_user.owner?(@list)) %>
  			  <div class="row">
      				<div class="col s6">
                  <div class="input-field center-align">
                    <a class='waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white disabled'>Transfer Ownership</a>
                  </div>
      				</div>
              <div class="col s6">
                <div class="input-field center-align">
                  <%= link_to 'Delete list',@list, method: :delete, data: {confirm: "Are you sure you want to delete it?"}, class: 'waves-effect waves-light btn-delete lowercase btn-medium su-btn btn-flat submit col s12', remote: true  %>
                </div>
              </div>
          </div>
      <% end %>
      <div class="row">
          <div class="col s6">
            <div class="input-field center-align">
              <%= link_to 'Cancel', lists_path, class: 'waves-effect waves-light btn btn-medium lowercase su-btn btn-flat submit col s12', remote: true, data: {behavior: 'modal-form'}  %>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field center-align">
              <a class="waves-effect waves-light btn btn-medium submit su-btn btn-flat lowercase col s12" id="btn-list-form-submit"><%= (@list.new_record?)? ( f.submit "Create" ): 'Save' %></a>
            </div>
          </div>
        </div>
<% end %>
