<%= form_for(@list, url: (@list.new_record?)? "/lists" : "/lists/#{@list.id}", method: :post, :html=>{id: "list-new",remote: true}, :data => {new: (@list.new_record?)? "create" : "update"}) do |f| %>
      <%= content_tag "div", id: "error_message_list" do%>
         <%= render :partial => 'shared/error_messages', :locals => {:object => @list} %>
      <% end %>
      <% if ((!@list.new_record?) && @list.all_tasks_list?) %>
          <div class="valign-wrapper ms-avatar-all-task">
              <i class="material-icons">list</i>
          </div>
      <% else %>
          <div class="valign-wrapper ms-upload-avatar" style="<% if ((!@list.new_record?) && @list.avatar?) %> background-image: url('<%= @list.avatar('thumb') %>');<% end %>">
                <%= f.file_field :avatar %>
                <label for="list_avatar">
                  <% if ((!@list.new_record?) && (!@list.avatar?)) %>
                      <span class="ms-avatar-ini show"><%= @list.name[0]%></span>
                  <% end %>
                  <div class="mousehover <%= (@list.new_record?)? 'hover': 'active' %> ">
                      <i class="material-icons">camera_alt</i><%= (@list.new_record?)? "Upload": "Change" %> your Avatar
                  </div>
                </label>
          </div>
      <% end %>
      <div class="row 000">
          <div class="col s12">
              <div class="input-field">
                  <%= f.text_field :name ,id: "list_name", disabled: @list.all_tasks_list?%>
                  <%= f.label :name,class: (@list.new_record?)? '': 'active' %>
              </div>
          </div>
          <div class="divider col s12"></div>
          <div class="col s12">
              <div class="input-field">
                  <%= f.text_area :description,class:'materialize-textarea', id: 'list_description' %>
                  <%= f.label :description, class: (@list.new_record?)? '': 'active' %>
              </div>
         </div>
         <div class="divider col s12"></div>
         <div class="col s12">
              <div class="input-field">
                <% if (@list.new_record?||@list.all_tasks_list?)||(!current_user.owner?(@list)) %>
                    <%= text_field_tag 'owner', (!current_user.owner?(@list))? "#{@list.owner_name}" : "#{current_user.name} ",id: 'list_owner',  disabled: true %>
                    <%= f.label :owner, :class => "active" %>
                <% elsif %>
                    <p class="uppercase label">List Owner</p>
                    <select>
                        <option value= "<%= @list.user_id %>" <%= (current_user.owner?(@list))? "selected" : "" %>><%= @list.owner_name %></option>
                        <% @list.collaboration_users.each do |collaborator_user| %>
                           <option value="<%= collaborator_user.id %>" <%= (collaborator_user.owner?(@list))? "selected" : "" %>><%= collaborator_user.name %></option>
                        <% end %>
                    </select>
                <% end %>
              </div>
          </div>
          <% unless (@list.new_record?||@list.all_tasks_list?|| !has_collaborations?(@list)) %>
              <div class="divider col s12"></div>
              <div class="col s12">
                <ul class="tabs">
                  <li class="tab col s6"><a href="#test1" class="uppercase label">Collaborators</a></li>
                  <li class="tab col s6"><a href="#test2" class="uppercase label">Pending Invitations</a></li>
                </ul>
              </div>
              <div id="test1" class="col s12">
                <ul class="collaboration-user-settings">
                  <% if (!current_user.owner?(@list) && (!@list.owner.nil?)) %>
                     <%= render partial: "lists/collaboration_user_settings", locals: {collaboration_user: @list.owner} %>
                  <% end %>
                  <% if  @list.collaboration_users.where(['user_id != ?', current_user.id]).count > 0 %>
                     <%= render partial: "lists/collaboration_user_settings", collection: @list.collaboration_users, as: :collaboration_user %>
                  <% end %>
                </ul>
              </div>
              <div id="test2" class="col s12">
                <ul class="invitation-user-settings">
                  <% if  @list.invitations.count > 0 %>
                     <%= render partial: "lists/invited_user", collection: @list.invitations, as: :invited_user %>
                  <% end %>
                </ul>
              </div>
          <% end %>
      </div>
      <div class="divider col s12"></div>
      <% unless (@list.new_record?||@list.all_tasks_list?||!current_user.owner?(@list)) %>
  			  <div class="row">
      				<!-- <div class="col s6"> -->
                  <!-- <div class="input-field center-align">
                    <a class='waves-effect waves-light btn-medium submit lowercase su-btn btn-flat col s12 white disabled'>Transfer Ownership</a>
                  </div> -->
      				<!-- </div> -->
              <div class="col s12">
                <div class="input-field center-align">
                  <%= link_to 'Delete list',@list, method: :delete, data: {confirm: "Are you sure you want to delete it?"}, class: 'waves-effect waves-light btn-delete lowercase btn-medium su-btn btn-flat submit col s12', remote: true  %>
                </div>
              </div>
          </div>
      <% end %>
      <div class="row">
          <div class="col s6">
            <div class="input-field center-align">
              <%= link_to 'Cancel', lists_path, class: 'waves-effect waves-light btn btn-medium lowercase su-btn btn-flat submit col s12', remote: true, data: {behavior: 'modal-form'}  %>
            </div>
          </div>
          <div class="col s6">
            <div class="input-field center-align">
              <a class="waves-effect waves-light btn btn-medium submit su-btn btn-flat lowercase col s12" id="btn-list-form-submit"><%= (@list.new_record?)? ( f.submit "Create" ): 'Save' %></a>
            </div>
          </div>
        </div>
<% end %>
