<%= content_tag :div, data: {"list-id": "#{list.id}"}, id: "current-list" do%>
    <section class="center row">
      <div class="col s12">
        <% unless (list.all_tasks?) %>
            <div class="share-icons">
                <div class="list-collaboration-users">
                    <div class="right">
                        <ul id="collaboration-users">
                          <% if has_collaborations?(list) %>
                            <!-- All Collaboration Users -->
                            <%#= content_tag :li, class: "chip" do%>
                              <!-- <%= link_to list_collaboration_user_path(current_list,list.collaboration_users),class: "tooltipped",remote: true,:data => { :'tooltip'=>"Show tasks for all" }  do %>
                                   <span class="user-initial circle">All</span>
                              <% end %> -->
                            <%# end %>
                            <!-- All -->
                              <% if (!current_user.owner?(list) && (!list.owner.nil?)) %>
                                 <%= render partial: "lists/collaboration_user", locals: {collaboration_user: list.owner, active_users: collaboration_users, current_user: current_user} %>
                              <% end %>
                              <% if  list.collaboration_users.where(['user_id != ?', current_user.id]).count > 0 %>
                                 <%= render partial: "lists/collaboration_user", collection: list.collaboration_users.where(['user_id != ?', current_user.id]), as: :collaboration_user, locals: { active_users: collaboration_users,current_user: current_user }%>
                              <% end %>
                          <% end %>
                          <% if (current_user.owner?(list)) %>
                              <li class="chip circle ms-text-green ms-add">
                                <%= link_to new_list_invitation_path(list),id: 'new_invitation_link',class:"tooltipped", data: {behavior: 'modal', tooltip: 'Invite a new member', remote: true} do%>
                                    <i class="material-icons add-user">add</i>
                                <% end %>
                              </li>
                          <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        <% end %>
      </div>
    </section>
    <!--  SECTION LIST USERS -->
    <section id="list-users">
      <%= render partial: "users/list_user", locals: {user: user, list: list} %>
      <%= render partial: "users/list_user", collection: @active_collaborations, as: :user, locals: { list: list } if !@active_collaborations.blank? %>
    </section>
    <!--  END SECTION LIST USERS -->
<% end %>
