<!-- Pending Invitation (List)  -->
<% if (!pending_invitation.blank?) %>
  <%= content_tag :li, id:"pending_invitation_#{pending_invitation.id}", class:"collection-item", data:{"list-pending-invitation-id":pending_invitation.id } do%>
      <div class="collapsible-header list_avatar_name">
          <span class="title"><%= pending_invitation.recipient_email %></span>
          <div class="secondary-content">
            <%= content_tag(:span) do%>
               <%= "Invited #{pending_invitation.sent_at.strftime("%b #{pending_invitation.sent_at.day.ordinalize}")}"%>
               <%#= "By #{User.find(pending_invitation.sender_id).name}"%>
            <% end%>
            <i class="material-icons ms-open-button">keyboard_arrow_right</i>
          </div>
      </div>
      <div class="collapsible-body" id="list_manage_invitation">
          <%= render partial: "shared/flash_messages", locals: {invitation: pending_invitation} %>
          <%#= hidden_field_tag ("id", value= "#{pending_invitation.id}", options ={id: "hlist_pending_invitation"}) %>
          <div class="input-field col">
              <%= link_to "Revoke Invitation",list_invitation_path(list, pending_invitation), method: :delete, data: {confirm: "Are you sure you want to delete it?"}, class: "grey lighten-2 waves-effect waves-light btn-short lowercase su-btn btn-flat", remote: true %>
          </div>
          <div class="input-field col">
              <%= link_to "Resend Invitation", resend_invitation_list_invitation_path(list,pending_invitation),class: "waves-effect waves-light btn-short lowercase su-btn btn-flat submit white", remote: true %>
          </div>
      </div>
  <% end%>
<% end %>
