<% if (!member.blank?) %>
  <% msinactive =  !member.active_collaborator?(list.id)? "ms-inactive" : "" %>
  <%= content_tag :li, id:"list_member_#{member.id}", class:"collection-item avatar #{msinactive}", data:{"list-member-id": member.id } do%>
      <%= render partial: "users/collection_user_image", locals: {user: member} %>
      <span class="title"><%= member.first_name %></span>
      <p><%= member.email %></p>
      <%= link_to list_collaboration_user_path(list, member), method: :delete, data: {confirm: "Are you sure you want to delete it?"},class:"secondary-content", remote: true do %>
         <i class="tooltipped material-icons md-18 md-dark md-inactive" data-position="top" data-delay="50" data-tooltip="Delete task">cancel</i>
      <% end %>
  <% end%>
<% end%>
