<%= form_for( @list, remote: true) do |f| %>
      <%= content_tag "div", id: "error_message_list" do %>
         <%= render :partial => 'shared/error_messages', :locals => {:object => @list} %>
      <% end %>
      <div class="row">
          <div id="imagecrop_list"><img src="" /></div>
          <div class="col s12">
              <%= content_tag(:div, :class=>["valign-wrapper", "ms-upload-avatar"],id: "preview") do %>
                  <%= f.file_field :image %>
                  <label for="list_image">
                      <div class="mousehover hover empty">
                          <span class="circle-icon valign-wrapper create">
                              <%= image_tag(public_path('assets/createList.svg')) %>
                          </span>
                          <span class="circle-icon valign-wrapper hover">
                              <%= image_tag(public_path('assets/createListHover.svg')) %>
                          </span>
                      </div>
                  </label>
                  <% %w[x y w h].each do |attribute| %>
                      <%= f.hidden_field  "crop_#{attribute}",:class =>"crop_#{attribute}", :id =>"f_crop_#{attribute}" ,as: :hidden %>
                  <% end %>
              <% end%>
          </div>
      </div>

      <div class="col s12">
          <div class="input-field">
              <%= f.text_field :name ,id: "list_name"%>
              <%= f.label :name%>
          </div>
      </div>
      <div class="divider col s12"></div>
      <div class="col s12">
          <div class="input-field">
              <%= f.text_area :description,class:'materialize-textarea', id: 'list_description' %>
              <%= f.label :description, class: (@list.new_record?)? '': 'active' %>
          </div>
     </div>
     <div class="divider col s12"></div>

    <div class="row">
        <div class="col s6">
          <div class="input-field center-align">
            <a href="#!" class="modal-action waves-effect waves-light btn btn-medium lowercase su-btn btn-flat submit col s12" >Cancel</a>
          </div>
        </div>
        <div class="col s6">
          <a class="waves-effect waves-light btn btn-medium su-btn btn-flat lowercase col s12">123
          </a>
          <div class="input-field center-align">
             <%= f.submit("Create", data: {disable_with: false} ) %>
          </div>
        </div>
    </div>
<% end %>
