<div id='task_<%= task.id%>' class="row	<%= (!task.completed?)? task.task_created : ''  %>" data-task-id = "<%= task.id%>">
	<div class="col s6 task-detail">
    <%= content_tag "p", id: "#{task.id}",class: (!task.completed?) ? "" : "truncate" do %>
			 <%= "#{task.detail} #{task.completed_at}" %>
		<% end %>
		<% if (!task.is_blocker?) && (!task.completed?) %>
				<ul class="menu-information">
						<% if (all_task?(task.list_id) ) %>
								<li><p><%= "#{task.list_belonging}"%></p></li>
						<% end %>
						<li><p> created at: "<%= "#{task.created_at.strftime('%a, %e %B')} " %>."</p></li>
						<li class="ms-deadline <%= (!task.deadline.nil?) ? 'active' : '' %>"><i class="material-icons md-18 md-red">&#xE858;</i><p id="alternate"><%= (!task.deadline.nil?) ? task.deadline.strftime('%a, %e %B') : '' %></p></li>
				</ul>
		<% end%>
	</div>
	<div class="col" id="menu">
			<ul class="menu-option">
					<li>
						<% if !task.completed? %>
							 <%= link_to importanttask_task_path(id: task.id), :method=> :patch, remote: true do %>
									 <i class="tooltipped material-icons md-18 <%= (task.important?)? 'md-jellow' : 'md-dark md-inactive'  %>" id="md-important" data-position="top" data-delay="50" data-tooltip="Mark as important">&#xE838;</i>
							 <% end %>
						<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <div class="input-group">
							     <input type="text" class="tooltipped deadline-datepicker hidden-datepicker" id="deadline_<%= task.id%>" data-position="top" data-delay="50" data-tooltip="Add deadline">
									 <i class="i-btn-datepicker material-icons md-18 <%= (task.deadline?)? 'md-red' : 'md-dark md-inactive'%> " id="btn-datepicker_<%= task.id%>" data-href = '<%= "#{ add_deadline_task_url(id: task.id)}"%>' data-href-delete-deadline = '<%= "#{ delete_deadline_task_url(id: task.id)}"%>'>&#xE858;</i>
							</div>
						<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <%= link_to edit_list_task_path(list_id: task.list_id, id: task.id), remote: true, data: { behavior: 'modal' } do %>
									 <i class="tooltipped material-icons md-18 md-dark md-inactive" data-position="top" data-delay="50" data-tooltip="Edit Task">mode_edit</i>
							 <% end %>
						<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <a class='dropdown-button2' href='#' data-activates='dropdownlist_<%= task.id%>'>
								 <i class="tooltipped material-icons md-18  md-dark md-inactive" data-position="top" data-delay="50" data-tooltip="Change task to another list">view_list</i>
							 </a>
							 <ul id="dropdownlist_<%= task.id%>" class="dropdown-list">
			 					<% @lists = User.find(task.user_id).created_lists.all.order('created_at')%>
			 		     	<% @collaboration_lists = User.find(task.user_id).collaboration_lists.all%>
			 		     	<% @current_all_lists ||= @lists + @collaboration_lists %>
			 					<% @current_all_lists.each do |list| %>
			 					    <% if (list.id != task.list_id) %>
			 							    <li><%= link_to list.name, changelist_task_path(list_id: list.id, id: task.id ), remote: true, :method=> :patch  %></li>
			 							<% end %>
			 					<% end %>
			 			  </ul>
						<% end %>
					</li>
					<li>
						<%# if !task.completed? %>
								<%= form_for task, url: incomplete_task_path(:id => task.id, :list_id => task.list_id), remote: true do |f| %>
								<%= check_box_tag "completed[#{task.id}]", "#{task.id}", true, :name => "task_id"  %>
								<%= label_tag "completed_#{task.id}", "", class: "tooltipped", 'data-position' => "top", 'data-delay' => "50", 'data-tooltip' => "Mark task as incompleted"%>
								<%= f.submit "Update" %>
								<% end %>
						<%# end %>
					</li>
					<li>
							<%= link_to task, method: :delete, data: {confirm: "Are you sure you want to delete it?"}, remote: true do %>
								 <i class="tooltipped material-icons md-18 md-dark md-inactive" data-position="top" data-delay="50" data-tooltip="Delete task">cancel</i>
							<% end %>
					</li>
					<li>
						<% if !task.completed? %>
							 <i class="material-icons md-18 md-red" data-has-blockers="<%= !task.t_blockers.blank? %>" >warning</i>
							 <%= link_to new_task_t_blocker_path(list_id: task.list_id, task_id: task.id,user_id: task.user_id),id: 'link-blocker', remote: true, data: { behavior: 'modal' }  do %>
									<i class="tooltipped material-icons md-18 md-<%= (!task.t_blockers.blank?) ? 'red' : 'dark md-inactive' %>" data-position="top" data-delay="50" data-tooltip="Add blocker">warning</i>
							 <% end %>
						<% end %>
					</li>
		</ul>
	</div>
	<div class="col s3 show_blockers text-align:left" id="show_blockers_<%= task.id%>">
		<% if !task.completed? %>
			<%= render(partial: "tasks/t_blocker", collection: task.t_blockers) %>
		<% end %>
	</div>
</div>
