<%= content_tag :li, id: "list_user_#{user.id}", data:{"user-id": "#{user.id}" } do%>
    <%= render :partial => "users/user_img", :locals =>{ :user => user } %>
    <%= content_tag :div, class: "ms-user-tasks #{permitted_user?(user.id) ? 'permitted' : 'no-permitted'}", data: { "draggable-tasks": "#{ permitted? ? true : false}"} do%>
        <div class="new-task">
          <%= render partial: 'tasks/form', :locals =>{ :user => user }   %>
        </div>
        <!-- INCOMPLETE TASKS -->
        <div class="tasks table-of-task incomplete_tasks" id="incomplete_tasks_<%= user.id%>" data-url="<%= sort_list_tasks_path(list,'user_id': user.id)%>" >
          <% for task in user.incompleted_tasks_by_date(list,current_date) %>
            <%= render :partial => "tasks/task", :locals =>{ :currentUser => current_user, :task => task, :list => list, :current_list => list} %>
          <% end %>
        </div>
        <!-- COMPLETED TASKS -->
        <div class="row">
          <div class="col s12">
            <select class="pink-button">
              <option value="" disabled selected>Select</option>
              <option value="1">Option 1</option>
              <option value="2">Option 2</option>
              <option value="3">Option 3</option>
            </select>
          </div>
        </div>
        <div class="tasks table-of-task complete_tasks" id="complete_tasks_<%= user.id%>">

          <% 5.times do |i| %>
            <% date = current_date - i.days %>
            <% if !user.completed_tasks_by_date(list,date).blank? %>
                <%#= render :partial => "shared/collapsible_completed_task", :locals =>{ :date => date, :i => i, :user => user, :list => list, :current_date => current_date} %>
                <%= render partial: "users/completed_task", layout: "shared/collapsible_completed_task", locals: {  :date => date, :i => i, :user => user, :list => list, :current_date => current_date} %>
            <% end %>
          <% end %>
           <%#= render :partial => "users/completed_task", :locals =>{ :user => user, :list => list,:current_date => current_date} %>
        </div>
    <% end%>
    <div class="clearfix"></div>
    <div class="divider50"></div>
<% end%>
