<%= form_for(@user, :remote => true) do |f| %>
<div class="row">
  <%= f.hidden_field :current_step, :value => "security" %>
  <div class="input-field">
    <i class="material-icons prefix">lock_outline</i>
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: 'form-control',id: 'password_reset_email icon_prefix' %>
  </div>
  <div class="input-field">
    <%= hidden_field_tag :email, @user.email %>
    <i class="material-icons prefix">lock_outline</i>
    <%= f.label :password %>
    <%= f.password_field :password, class: 'form-control',id: 'password_reset_email icon_prefix' %>
  </div>
  <div class="input-field">
    <i class="material-icons prefix">lock_outline</i>
    <%= f.label :password_confirmation, "Confirmation" %>
    <%= f.password_field :password_confirmation, class: 'form-control',id: 'password_reset_email icon_prefix' %>
  </div>
  <div class="input-field center-align">
  <a class="waves-effect waves-light su-btn btn-flat submit"><%= submit_tag "Update"%></a>
  </div>
</div>
</div>
<% end%>
