<div class="wrapper vertical-sidebar" id="full-page">
  <% if logged_in? %>
      <header id="header" class="page-topbar">
          <%= render 'layouts/topnavbar' %>
      </header>
  <% end %>
  <main>
    <div  id="content"  class="<% if current_user.nil? %>toggled<% end %> container">
      <div id="page-content">
        <!-- <% if logged_in? %>
        <% end %> -->
        <aside id="left-sidebar-nav" class="navigationbar" data-nav-id="<%= current_user.id %>">
            <%= render partial: 'layouts/navigation', locals: { user: current_user } %>
        </aside>
        <div id="main_center">
            <%= render partial: "lists/list", locals: { list: @list, user: current_user } %>
        </div>
      </div>
    </div>
  </main>
  <!-- Footer -->
  <%= render 'layouts/footer' %>
  <!-- Modal Structure -->
  <div id="modal-holder"></div>
  <%= javascript_tag do %>
    window.userCreate = "<%= current_user.created_at %>";

  <% end %>
