<!-- start header nav-->
<div class="navbar navbar-fixed">
 <nav class="navbar-color">
    <div class="nav-wrapper">
          <div class="nav-belt hide-on-small-only">
              <ul class="nav-belt-left">
                 <li><%= link_to "List", root_path %></li>
                 <!-- <li>Guest Users</li> -->
              </ul>
              <ul class="right hide-on-small-only nav-setting">
                  <li>
                      <a href="#" class="waves-block waves-light notification-button dropdown-button" data-activates="notifications-dropdown" data-behavior='notifications'>
                         <i class="material-icons md-18 md-light">notifications<extra-small class="notification-badge" data-behavior='unread-count'></sextra-small></i>
                      </a>
                     <ul class="dropdown-content" style="min-width:250px" id="notifications-dropdown" data-behavior="notification-items">
                     </ul>
                     </li>
                     <li><!-- <a href="#">
                       <i class="material-icons md-18 md-light">view_module</i></a> -->
                     </li>
                     <li>
                       <a class='dropdown-button' href='#' data-activates='dropdownUser' id="dropdown-button-name"><span><%=current_user.first_name%></span><i class="material-icons right">arrow_drop_down</i></a>
                       <!-- Dropdown Structure -->
                       <ul id='dropdownUser' class='dropdown-content'>
                         <li><%= link_to "Settings", edit_user_path(current_user),class: "hide-nav",remote: true %></li>
                         <li><% if logged_in? %><%= link_to "Logout", '/logout' %><% else %><%= link_to "Login", '/login' %><% end %></li>
                       </ul>
                     </li>
                 </ul>
          </div>
          <a href="#" data-activates="slide-out" class="button-collapse sidebar-collapse btn-medium waves-light hamburger-menu">
            <div>
              <i class="material-icons">menu</i>
            </div>
          </a>
          <div class="nav-main">
            <ul class="left valign-wrapper">
              <li class="logo">  <h1 class="logo">Sessions</h1></li>
              <li><div class="divider"></div></li>
              <li class="uppercase avatar-list" id="nav-list" data-topnavbar-list-id = "<%= current_list.id %>">
                  <%= render partial: "lists/nav_list_name", locals: {list: current_list} %>
              </li>
            </ul>
            <ul class="right valign-wrapper">
                <li id="ms-link-listSetting" class="settings">
                   <%= render partial: 'lists/link_listSetting',  locals:{list: current_list}%>
                </li>
                <li id='application-date'>
                       <%= form_for current_list, method: :get,remote: true do |f| %>
                          <input type="hidden" name="date" id="form_date">
                          <input type="hidden" name="mention_by" id="active-collaborators">
                          <input type="date" class="datepicker right-align">
                       <% end %>
                 </li>
              </ul>
            </div>

     </div>
  </nav>
</div>

<!-- end header nav-->
